body {
    margin: 0px;
    background-color: rgb(30, 31, 32);
  }
  /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
      scrollbar-width: auto;
      scrollbar-color: #0e1012 #ffffff;
    }
  
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 16px;
    }
  
    *::-webkit-scrollbar-track {
      background: rgb(255, 255, 255, 0.1);
      border-radius: 10px;
    }
  
    *::-webkit-scrollbar-thumb {
      background-color: rgb(40, 40, 40);
      border-radius: 10px;
      border: 3px solid rgb(28, 28, 28);
    }
  
  @font-face {
    font-family: "Oxanium";
    src: url(/fonts/Oxanium/OxaniumRegular.ttf) format(truetype);
    font-weight: normal;
  }
  

  @font-face {
    font-family: "Cus";
    src: url(/fonts/Single/Roboto-Regular.ttf) format(truetype);
    font-weight: normal;
  }

.c-main {
    background-color: rgba(0, 0, 0, 0.200);
    margin: auto;
    width: 90vw;
    min-width: 800px;
    height: 100vh;
    border: rgba(14, 16, 18, 0.400) 2px solid;
}

.c-calendar {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 0 0;

    margin: auto;
    margin-top: 10vh;
    width: 95%;
    min-height: 250px;
    display: grid;
    grid-template-rows:  fit-content 1fr 1fr 1fr 1fr 1fr;
    row-gap: 8px;
    padding-bottom: 6px;
}

.c-calendar-row {
  display: flex;
  flex-direction: row;
}



.c-c-row-h {
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 10px 10px 0 0;
    align-content: center;
    border: rgba(0, 0, 0, .15) 2px solid;

}

.c-calendar-day {
    display: flex;
    font: 1em "Oxanium", Oxanium, sans-serif;
    font-size: 1.4em;
    justify-self: center;
    color: #e0e0e0;
}

.c-calendar-cell {
  background-color: #0f1010;
  border: rgb(14, 15, 15) 1.5px solid;
  color: #e0e0e0;
  font: 1em "Roboto-Regular", Cus, sans-serif;
  border-radius: 4px;
  height: 100%;
  width: calc(100% / 7);
  margin: 0 3px 0 3px;
  position: relative;
}



.disabled-cell {
  background-color: rgb(14, 15, 15);
  border: rgb(11, 12, 12) 1.5px solid;
  opacity: .5;
}



.c-calendar-cell span {
  display: flex;
  margin: .2vw .2vw 0 .2vw;
  font-size: 12px;
  justify-content: right;
}

.info-block {
  background-color: rgb(255, 0, 0);
  width: 92%;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  font-size: .88em;
  border-radius: 3px;
}

.absence {
  background-color: #a30808;
}

.exam {
  background-color:  #7800D6;
}

.short-exam { background-color: #2C13AD;}

.sub {background-color: #008db0;}

.event { background-color: #b3b3cc;}

.hw { background-color: #1E592F;}

.project { background-color: #CC5E00;}