body {
  margin: 0px;
  background-color: rgb(30, 31, 32);
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0e1012 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    border: 3px solid rgb(28, 28, 28);
  }

@font-face {
  font-family: "Oxanium";
  src: url(fonts/Oxanium/OxaniumRegular.ttf) format(truetype);
  font-weight: normal;
}


@font-face {
  font-family: "Cus";
  src: url(fonts/Single/Captureit.ttf) format(truetype);
  font-weight: normal;
}

@font-face {
  font-family: "Ae";
  src: url(fonts/Single/VCR_OSD_MONO.ttf) format(truetype);
  font-weight: normal;
}
.vcr {
  font: 1.5em "VCR_OSD_MONO", Ae, sans-serif !important;

}

.c-hm h {
  display: flex;
  justify-content: center;
  padding: 100px 0 0 0;
  color: rgb(230, 230, 235);
  font: 1em "Capture it", Cus, sans-serif;
  font-size: 4.6em;
  text-shadow: 0 -1px 0 #c0c0c0, 0 1px 0 hsl(0, 0%, 24%),
    0 2px 0 hsl(0, 0%, 23%), 0 3px 0 hsl(0, 0%, 22%), 0 4px 0 hsl(0, 0%, 21%),
    0 5px 0 hsl(0, 0%, 20%), 0 6px 0 hsl(0, 0%, 19%), 0 7px 0 hsl(0, 0%, 18%),
    0 8px 0 hsl(0, 0%, 17%), 0 9px 0 hsl(0, 0%, 16%), 0 10px 0 hsl(0, 0%, 15%),
    0 11px 1px hsl(0, 0%, 14%);
  letter-spacing: 1px;
}

.c-hm h1 {
  display: flex;
  justify-content: center;
  color: rgb(230, 230, 235);
  font: 1.4em "VCR_OSD_MONO", Cus, sans-serif;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  line-height: 30px;
}

h span {
  display: inline-block;
  line-height: 50px;
  margin-left: 20px;
}
h span::first-letter {
  font-size: 1.35em;
}

.ox-font {
  color: rgb(235, 235, 240);
  font: 1em "OxaniumMedium", Oxanium, sans-serif;
  
  display: flex;
  text-align: center;
  justify-content: center;
}



.nv {
  position: relative;
  top: 30px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: rgba(23, 24, 25);
  border: solid rgb(15, 16, 17);
  border-width: 2.5px 0 2.5px 0;
  display: flex;
  justify-content: center;
}

.c-nv {
  height: 100%;
  margin: 0 10% 0 10%;
  min-width: 800px;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 15px;
}

.nvt {
  top: 0;
  border-width: 0;
}

.nvt h {
  margin-top: 5px;
  font-size: 1.7em;
  display: flex;
  justify-content: center;
}

.nvt p {
  font-size: 1.2em;
  text-align: right;
  margin: 0 5px 0 0;
  position: absolute;
  top: 31px;
  right: 0;
}
.c-nvb {
  display: grid;
  float: left;
  height: 60px;
  width: 100%;
  grid-template-columns: 1fr 1.1fr 1.1fr 1.55fr 1.2fr;
  column-gap: 2px;
}

.nvbt {
  display: flex;
  margin-top: 12px;
  justify-content: center;
  font-size: 1.2em;
}

.nvbl {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 6px 28% 0 28%;
  height: 3px;
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.25);

  transition: all 0.2s ease-in-out;
}

.c-nvb a:hover .nvbl {
  margin: 6px 22% 0 22%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.15);
}

.c-nvb a:hover .nvbt {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.35);
}

.c-hm {
  margin-left: min(100px, 15%);
  margin-right: min(100px, 15%);
  width: 800px;
  margin: auto;
  margin-top: 80px;
  height: 600px;
}

.main-container {
  background-color: rgba(9, 10, 11, 0.225);
  position: relative;
  display: flex;
  flex-direction: row;
  left: 0px;
  width: 950px;
  height: fit-content;
  margin: auto;
  margin-top: 80px;
  
  border-radius: 8px;
  border: 1.5px solid rgb(0, 0, 0, .1);
  padding: 40px;
  margin-bottom: 30px;
  display: block;
}

.c-m {
  background-color: rgba(9, 10, 11, 0.225);
  border: 1.5px solid rgb(0, 0, 0, .1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 850px;
  height: fit-content;
  padding: 40px;
  margin: auto;
  margin-top: 80px;
  font: 1.5em "OxaniumLight", Oxanium, sans-serif;
  color: rgb(220, 220, 220);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.c-m h {
  font-size: 2em;
}

.c-m iframe {
  margin-top: 20px;
  border-radius: 8px;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(19, 20, 21, .5);
  border: 1.5px solid rgba(17, 18, 19, .2);
  width: 80%;
  height: fit-content;
  margin-top: 20px;
  margin-left: 10%;
  color: white;
  padding: 15px;
  font: 1em "OxaniumLight", Oxanium, sans-serif;
  color: rgb(200, 200, 200);
  border-radius: 6px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, .15);
}
.header-container h {
  font-size: 4.5em;
  color: rgb(230, 230, 230);
}
.container-faq {
  margin-top: 45px;
  display: block;
  background-color: rgb(19, 20, 21, .5);
  border: 1.5px solid rgba(17, 18, 18, .2);
  width: 62%;
  margin-left: 19%;
  height: fit-content;
  font: 1em "OxaniumMedium", Oxanium, sans-serif;
  color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, .15);

}


.container-faq h, .container-faq p {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: rgb(200, 200, 200);
  margin-left: 20px;
  margin-right: 20px;
}

.container-faq h {
  font-size: 1.8em;
  color: rgb(230, 230, 230);
}

.container-gal {
  background-color: rgba(9, 10, 11, 0.225);
  border: 1.5px solid rgb(0, 0, 0, .1);
  border-radius: 8px;
  display: grid;
  flex-direction: column;
  width: 1025px;
  height: fit-content;
  padding: 40px;
  margin: auto;
  margin-top: 80px;
  font: 1.5em "OxaniumLight", Oxanium, sans-serif;
  color: rgb(220, 220, 220);
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 130px 130px 130px 130px;
}

.c-test{
  height: 100%;
  grid-column: 1 / span 4;
  text-align: center;
  justify-self: center
}


.c-m h2 {
  font: 2em "OxaniumLight", Oxanium, sans-serif
}

.c-pic {
  width: 85%;
  height: 110px;
  background-color: #14110f;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 3px;
  margin: auto;
  transition: all .2s linear;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
}


.c-pic:hover {
  height: 115px;
  width: 87.5%;
}
.c-pic img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the images */
}

#pic-1-smaller {
  z-index: 1; /* Place this image above the other */
}



#pic-1 {
    z-index: 2; /* Place the second image in front of the first image */
}

#image-viewer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.c-imgv {
  width: fit-content;
  height: fit-content;
  background-color: rgb(36, 36, 36);
  overflow: hidden;
  border-radius: 6px;
  background: radial-gradient( rgb(58, 58, 58) 0%, rgb(36, 36, 36) 100%);

  
 }

#nc p{
  display: flex;
  flex-direction: row;
  align-items: row; /* or inline-block, depending on your layout needs */
  
}

 .c-imgv h1, .c-imgv p{
  font: 2.5em "OxaniumLight", Oxanium, sans-serif;
  color: rgb(220, 220, 220);
  line-height: 20px;
  margin-left: 10px;
  text-shadow: 0px -1px 10px rgb(0, 0, 0, 0.5);
  white-space: pre-line; /* Preserve line breaks */
  overflow: visible;

 }
 
 .c-imgv p {
  margin-top: 35px;
  font-size: 1em;
 }



.c-imgv img {
  display: block;
  height: 75vh;

  overflow: hidden;
  border-bottom: rgba(0, 0, 0, 0.3) 3px solid  ;
  
}



.videoIcon{
  width: 40px !important;
  display: flex !important;
  top: 25% !important;
  left: 84% !important;
  margin: 0;
  z-index: 3;
  opacity: .3;
  transition: opacity 1s ease;
}
.fade-out {
  opacity: 0;
}


a:link {
  text-decoration: none !important;
  color: rgb(160, 209, 255);
}
a:visited {
  text-decoration: none !important;
  color: rgb(160, 209, 255);

}
a:hover {
  text-decoration: none !important;
  color: rgb(133, 171, 207);

}
a:active {
  text-decoration: none !important;
  color: rgb(160, 209, 255);

}


@media screen and (orientation: portrait) {
  #mobile-note {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #ff3333;
    z-index: 200;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    color: white !important;
  }

  #mobile-note h1 {
    font: 8vw "OxaniumMedium", Oxanium, sans-serif !important;
    margin: 0;
  }
  #mobile-note span {
    font: 5vw "OxaniumMedium", Oxanium, sans-serif !important;
    color: white !important;
  }
  #rot-img {
    background-image: url("/images/icons/landscape.png");
    background-size: cover;
    width: 50vw;
    aspect-ratio: 1;
  }
}

#construction {
  position: absolute;
  background-color: #ff3333;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/Construction.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  z-index: 2000;
}

#checker {
  background-image: url("/images/checkerPattern.png");
  position: absolute;

  width: 100%;
  height: 100%;
}

#c1 {
  font: 5vw "OxaniumLight", Oxanium, sans-serif;

  color: rgb(255, 255, 255);
  line-height: 20px;
  margin-left: 10px;
  text-shadow: 0px 5px 4px rgb(0, 0, 0, 1);
}

#c2 {
  font: 2vw "OxaniumLight", Oxanium, sans-serif;

  color: rgb(255, 255, 255);
  line-height: 20px;
  margin-left: 10px;
  text-shadow: 0px 3px 4px rgb(0, 0, 0, 1);
}
