
@font-face {
    font-family: 'Oxanium';
    src: url(fonts/Oxanium/OxaniumRegular.ttf) format(truetype);
}
body {
    margin: 0px;
    background-color: rgb(25, 26, 27);
}


.topbar {
    background-color:rgb(17, 17, 18);
    overflow: hidden;
    height: 40px;
    width:100%;
    top: 0;
    position: fixed;
    border-bottom: 2px solid rgb(15, 15, 16);
    color: rgb(211, 211, 211);
    z-index: 2137 !important;
}

.sidebar {
    background-color:rgb(19, 19, 20);
    overflow: hidden;
    float: left;
    border-right: 2px solid rgb(17, 17, 18);
    color: rgb(211, 211, 211);
    height: 100%;
    width: 35px;
    top: 0;

    position: fixed;
    
}
.sidebutton {
    background-color: rgb(19, 19, 20);
    color: rgb(211, 211, 211);
    font: 1em "OxaniumMedium", Oxanium, sans-serif;
    font-size: 120%;
    display: block;
    
}
.sidebutton:first-child {
    margin-top: 200%;
}
.button {
    border: 1px solid rgb(17, 17, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
}

.main-content {
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    left: 35px;
    width: 80%;
    height: 450px;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0, .1);

}
.button:hover {
    background-color: rgb(25, 25, 26);
}

.header {
    color: rgb(211, 211, 211);
    font: 1em "OxaniumMedium", Oxanium, sans-serif;
    font-size: 18px;
    font-size: 3vh;
    float: left;
    margin-left: 2%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    
    
}



